[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shivu4999
[access "refs/for/refs/*"]
	read = group user/shivu4999
	push = group user/shivu4999
	label-Code-Review = -2..+2 group user/shivu4999
	label-Verified = -1..+1 group user/shivu4999
	rebase = group user/shivu4999
	removeReviewer = group user/shivu4999
	submit = group user/shivu4999
[access "refs/heads/*"]
	read = group user/shivu4999
	create = group user/shivu4999
	push = +force group user/shivu4999
	pushMerge = group user/shivu4999
[access "refs/tags/*"]
	push = group user/shivu4999
	push = +force group user/shivu4999
